<section class="vh-100 gradient-custom">
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin">
         <h2>{{isEditing ? 'Edit' : 'Add'}} the country</h2>
         <div id="data" class="row">
          <div class="col-6">
          <div class="form-group">
            <label for="country-name">Country name<span class="sda-required"></span></label>
            <input type="text" id="country-name" class="form-control" formControlName="countryName">
            <span class="help-block" *ngIf="form.get('countryName')?.errors?.required && form.get('countryName')?.touched">It is a required value</span>
            <span class="help-block" *ngIf="form.get('countryName')?.errors?.countryNameForbidden && form.get('countryName')?.touched">you can't use that name</span>
          </div>
        </div>
          <div class="col-6">
          <div class="form-group">
            <label for="capital">Capital<span class="sda-required"></span></label>
            <input  id="capital" class="form-control" formControlName="countryCapital">
            <span class="help-block" *ngIf="form.get('countryCapital')?.errors?.forbiddenCapital && form.get('countryCapital')?.touched">you can't use that name</span>
          </div>
        </div>

          </div>
          <div class="row">
            <div class="col-6">
          <div class="form-group">
            <label for="population">Population</label>
            <input  id="population" class="form-control" formControlName="population">
          </div>
        </div>
          <div class="col-6">
        <div class="form-group">
          <label for="flag">Flag</label>
          <select id="flag" class="form-control" formControlName="flag">
            <option *ngFor="let flag of flags" [value]="flag.value">{{ flag.name }}</option>
          </select>
        </div>
      </div>
      </div>
        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="form.invalid">Submit</button>
      </form>
 </div>

 <div class="container">
   <pre>valid: {{ form.controls.countryCapital.valid | json}}</pre>
   <pre>errors country field: {{ form.controls.countryName.errors | json}}</pre>
   <pre>errors capital field: {{ form.controls.countryCapital.errors | json}}</pre>
 </div>
</section>